body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas {
    border: 2px solid white;
    background-color: black;
}
#controls {
    margin-top: 10px;
}
button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
